services:
  server:
    image: book-wise-server-prod
    build:
      context: .
      target: production
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - '${PORT}:${PORT}'
    healthcheck:
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
